.button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid;
  font-family: $tertiary-font;
  letter-spacing: 1.5px;
  
  &__light {
    border-color: #f2f2f2;
    color: $tertiary-color;

    &--hovered:hover {
      border-color: $primary-color;
      background-color: $tertiary-color;
      color: $primary-color;
      cursor: pointer;
    }
  }

  &__arrow::after {
    position: absolute;
    content: url("../img/Arrow.png");
    bottom: -45px;
    left: 0;
    right: 0;
  }

  &__dark {
    border-color: $primary-color;
    color: $primary-color;

    &--hovered:hover {
      background-color: $primary-color;
      color: #cecece;
      cursor: pointer;
    }
  }
}
