.contacts {
  max-width: 365px;
  width: 100%;
  text-align: center;

  &__text {
    padding: 30px 0 10px;
    color: #949494;
  }

  &__small-title {
    color: $secondary-color;
    white-space: pre-line;
  }

  &__address {
    color: #949494;
    white-space: pre-line;
  }

  &__social-icon {
    margin-top: 35px;
    color: #a4a4a4;
    border-right-color: #a4a4a4;
  }
}

@media only screen and (min-width: 1175px) {
  .contacts { text-align: left; }
}
