.contact {
  padding: 55px 0;
  background-color: #292929;

  &__logo-name {
    color: #ffffff;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

@media only screen and (min-width: 1175px) {
  .contact__container {
    justify-content: space-between;
  }
}

