.footer {
  background-color: #292929;
  text-align: left;

  &__copyright {
    padding: 25px 0;
    border-top: 1px solid $primary-color;
    color: #949494;
    font: $primary-font-size $primary-font;
  }
}

@media only screen and (min-width: 768px) {
  .footer__copyright { padding: 40px 0; }
}
