.header {
  width: 100%;
  background-color: #ffffff;

  &__row {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-icons {
    display: none;
  }
}

@media only screen and (min-width: 948px) {
  .header {
    &__social-icons,
    &__social-icon {
      display: flex;
    }
    &__social-icon {
      align-items: center;
      justify-content: center;
      border-right-color: #a4a4a4;
    }
  }
}