.intro {
  background-color: #2d2d2f;
  padding-top: 40px;
  padding-bottom: 40px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__left {
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__right {
    max-width: 330px;
    width: 100%;
  }

  &__text { max-width: 500px; }

  &__title {
    padding-bottom: 20px;
    color: #d8d8d8;
    font: $secondary-font-size $fifth-seniority-font;
  }

  &__paragraph {
    color: #888888;
    font: #{$secondary-font-size}/1.25 $primary-font;
  }

  &__btn {
    border-color: $secondary-color;
    color: $secondary-color;

    &--hovered:hover {
      border-color: #2d2d2f;
      background-color: $secondary-color;
      color: #2d2d2f;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro__left { text-align: left; }
}

@media only screen and (min-width: 1024px){
  .intro {
    &__left {  max-width: 750px; }

    &__text { max-width: 580px; }

    &__right { max-width: 340px; }
  }
}

@media only screen and (min-width: 1125px) {
  .intro__left { justify-content: space-between; }
}

@media only screen and (min-width: 1170px){
  .intro {
    &__left { max-width: 800px; }

    &__text { max-width: 620px; }

    &__right { max-width: 360px; }
  }
}
