.mobile-sidebar {
  padding: 10px 0;
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  &__form {
    width: 100%;
    padding: 10px 0;
  }

  &__item {
    margin: 10px 0;
    color: $tertiary-color;
    text-align: center;
  }

  &__dropdown {
    position: relative;
    display: inline-block;
  }
  
  &__link {
    font: $primary-font-size $fourth-seniority-font;
    color: $secondary-color;
    text-decoration: none;
  }

  &__dropdown-content {
    position: absolute;
    right: 0;
    max-width: 150px;
    display: none;
    background-color: #f9f9f9;
    z-index: 1;

  }

  &__dropdown-content a {
    color: $primary-color;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

.mobile-sidebar__dropdown:hover .mobile-sidebar__dropdown-content { display: block; }

@media only screen and (min-width: 1166px) {
  .mobile-sidebar { display: none; }
}
