.navigation__main-menu,
.navigation > input {
  display: none;
}

.navigation > label {
  padding: 0;
  display: flex;
  color: #aaaaaa;;
  cursor: pointer;
  user-select: none;
}

.navigation > input:checked + .navigation__main-menu {
  display: block;
  background-color: #fff;
}

.navigation {
  display: block;
  position: relative;

  &__menu-item {
    padding: 15px 10px;
    display: block;
    font: 12px "Montserrat-SemiBold", "Helvetica", sans-serif;

    &--hovered:hover {

    }
  }

  &__icon {
    font-size: $primary-font-size;
  }

  &__link {
    color: #aaaaaa;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__social-icon {
    padding-right: 5px;
    display: inline-block;
    border-right: 1px solid #a4a4a4;

    &:nth-last-child(1) {
      border-right: 0;
    }
  }
}

@media only screen and (min-device-width: 768px) {
  .navigation {
    height: auto;

    &__main-menu {
      display: block;
    }

    &__menu-item {
      display: inline-block;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .navigation > label {
    display: none
  }
}

@media only screen and (min-width: 948px) {
  .navigation__menu-item:nth-last-child(1) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .navigation > input:checked + .navigation__main-menu {
    position: absolute;
    right: -20px;
    top: 50px;
    width: 180px;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    border-left: 1px solid #292929;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 999;
  }
}

//.navigation__main-menu {
//  visibility: hidden;
//  opacity: 0;
//  height: 0;
//  width: 0;
//}
//
//.navigation > input {
//  display: none;
//}
//
//.navigation > label {
//  padding: 0;
//  display: flex;
//  color: #aaaaaa;;
//  cursor: pointer;
//  user-select: none;
//}
//
//.navigation > input:checked + .navigation__main-menu {
//  visibility: visible;
//  opacity: 1;
//  height: auto;
//  background-color: #fff;
//  transition: width 0.3s ease-out;
//}
//
//.navigation {
//  display: block;
//  position: relative;
//
//  &__menu-item {
//    padding: 15px 10px;
//    display: block;
//    font: 12px "Montserrat-SemiBold", "Helvetica", sans-serif;
//  }
//
//  &__link {
//    color: #aaaaaa;
//    font-size: 12px;
//    text-transform: uppercase;
//  }
//
//  &__social-icon {
//    padding-right: 5px;
//    display: inline-block;
//    border-right: 1px solid #a4a4a4;
//
//    &:nth-last-child(1) {
//      border-right: 0;
//    }
//  }
//}
//
//@media only screen and (min-device-width: 768px) {
//  .navigation {
//    &__main-menu {
//      display: block;
//      visibility: visible;
//      opacity: 1;
//      height: auto;
//      width: 100%;
//    }
//
//    &__menu-item {
//      display: inline-block;
//      border-bottom-right-radius: 5px;
//      border-bottom-left-radius: 5px;
//    }
//  }
//
//  .navigation > label {
//    display: none
//  }
//}
//
//@media only screen and (min-width: 948px) {
//  .navigation__menu-item:nth-last-child(1) {
//    display: none;
//  }
//}
//
//@media only screen and (max-width: 767px) {
//  .navigation > input:checked + .navigation__main-menu {
//    position: absolute;
//    right: -20px;
//    top: 50px;
//    width: 180px;
//    border-top: 1px solid #292929;
//    border-bottom: 1px solid #292929;
//    border-left: 1px solid #292929;
//    border-bottom-left-radius: 5px;
//    border-top-left-radius: 5px;
//    z-index: 999;
//  }
//}