.price {
  position: relative;
  padding: 45px 70px 60px;
  background-color: $tertiary-color;
  max-width: 370px;
  width: 100%;
  box-sizing: border-box;

  &__small-title {
    max-width: 230px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 1px solid $primary-color;
  }

  &__ellipse-container {
    display: flex;
    justify-content: center;
  }

  &__ellipse {
    position: absolute;
    top: 105px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    color: $primary-color;
  }

  &__cost {
    padding-top: 55px;
    color: $primary-color;
    font: 70px $fifth-seniority-font;
  }

  &__cost-sign {
    position: absolute;
    left: 29%;
    font: 28px $tertiary-font;
  }

  &__text {
    padding-bottom: 50px;
    font: #{$secondary-font-size}/1.9 $primary-font;
    white-space: pre-line;
  }
}

@media only screen and (min-width: 410px) {
  .price__cost-sign { left: 33%; }
}
