.row {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
  .row { padding: 10px; }
}

@media only screen and (min-width: 1190px) {
  .row { padding: 0; }
}
