.sidebar,
.sidebar__magnifier {
  max-width: 300px;
  width: 100%;
}

.sidebar__magnifier + label::after {
  position: absolute;
  right: 15px;
  top: 15px;
  content: url("../img/magnifier.png");
}

.sidebar {
  color: $primary-color;
  font: $primary-font-size $primary-font;
  
  &__form { position: relative; }

  &__magnifier {
    position: relative;
    padding: 15px 35px 12px 15px;
    background-color: transparent;
    border: 2px solid #a8a8a8;
    box-sizing: border-box;
    font: $primary-font-size $primary-font;
  }

  &__title { font: $secondary-font-size $fifth-seniority-font; }

  &__post {
    padding: 35px 0;
    display: flex;
    border-bottom: 1px solid #b7b7b7;

    &:nth-last-child(1) { border-bottom: 0; }
  }

  &__text-container { padding-left: 15px; }

  &__post-title {
    font-size: $fourth-seniority-font-size;
    padding-bottom: 15px;
  }

  &__text {
    letter-spacing: 1.4px;
    line-height: 1.7;
  }

  &__list { padding-bottom: 25px; }

  &__list-item {
    padding: 20px 0;
    font-size: $secondary-font-size;
    border-bottom: 1px solid #b7b7b7;
  }

  &__photos {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__photo { padding-bottom: 15px; }
}

@media only screen and (max-width: 1165px) {
  .sidebar { display: none; }
}
