.timeline {
  position: relative;
  margin: 0 auto;

  &::after {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -3px;
    background-color: $primary-color;
    content: "";
    z-index: 1;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
  }

  &__container {
    position: relative;
    width: 50%;
    background-color: inherit;
    text-align: left;

    &::after {

      position: absolute;
      right: -6px;
      top: 22px;
      width: 17px;
      height: 17px;
      background-color: $primary-color;
      border-radius: 50%;
      content: "";
      z-index: 1;
    }
  }

  &__left { left: 0; }

  &__right {
    top: 30px;

    &::after { left: -10px; }
  }

  &__content {
    position: relative;
    margin: 15px 0;
    padding: 30px 60px 30px 20px;
    background-color: transparent;
    border: 2px solid $primary-color;

    &--hovered:hover {
      background-color: $primary-color;
      color: #e4e4e4;
      transition: ease-in-out .5s;
    }
  }

  &__content-left {
    margin-right: 25px;

    &::after {
      position: absolute;
      right: -7px;
      top: 14px;
      width: 0;
      height: 0;
      border-left: 7px solid #ededed;
      border-right: 7px solid transparent;
      border-top: 7px solid #ededed;
      border-bottom: 7px solid transparent;
      content: "";
    }

    &::before {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border-left: 0 solid $primary-color;
      border-right: 10px solid transparent;
      border-top: 10px solid $primary-color;
      border-bottom: 0 solid transparent;
      content: "";
    }
  }

  &__content-right {
    margin-left: 25px;
    padding-left: 60px;
    padding-right: 20px;

    &::before {
      position: absolute;
      left: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 2px solid $primary-color;
      border-top: 10px solid $primary-color;
      border-bottom: 0 solid transparent;
      content: "";
    }

    &::after {
      position: absolute;
      left: -7px;
      top: 14px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid #ededed;
      border-top: 7px solid #ededed;
      border-bottom: 7px solid transparent;
      content: "";

    }
  }

  &__date {
    padding: 5px 0 25px;
    color: $primary-color;
    font: 11px $tertiary-font;
  }

  &__text { white-space: pre-line; }

  &__ellipse {
    position: relative;
    width: 70px;
    height:70px;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    border: 2px solid $primary-color;
    border-radius: 50%;
    z-index: 10;
  }

  &__small-ellipse {
    width: 55px;
    height:55px;
    background-color: $primary-color;
    border: 0;
    color: #ededed;
    font-size: 20px;
    z-index: 10;
  }
}

.timeline__content--hovered:hover .small-title,
.timeline__content--hovered:hover .timeline__date,
.timeline__content--hovered:hover .text,
.timeline__content--hovered:hover .timeline__text {
  color: #e4e4e4;
  transition: ease-in-out .5s;
}

.timeline__content--hovered:hover.timeline__content-right::after {
  border-right-color: $primary-color;
  border-top-color: $primary-color;
  transition: ease-in-out .5s
}

.timeline__content--hovered:hover.timeline__content-left::after {
  border-left-color: $primary-color;
  border-top-color: $primary-color;
  transition: ease-in-out .5s;
}

@media screen and (max-width: 767px) {
  .timeline {
    &::after { left: 40px; }

    &__row { flex-wrap: wrap; }

    &__container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      text-align: center;
    }

    &__content {
      padding: 20px;
      margin: 15px 0;
    }

    &__content-left {
      margin-right: 0;

      &::after {
        left: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid #ededed;
        border-top: 7px solid #ededed;
        border-bottom: 7px solid transparent;
      }

      &::before {
        left: -12px;
        border-left: 10px solid transparent;
        border-right: 2px solid $primary-color;
        border-top: 10px solid $primary-color;
        border-bottom: 0 solid transparent;
      }
    }

    &__content-right { margin-left: 0; }

    &__content-left::after {
      border-left: 7px solid transparent;
      border-right: 7px solid #ededed;
      border-top: 7px solid #ededed;
      border-bottom: 7px solid transparent;
    }

    &__left::after,
    &__right::after {
      left: 30px;
    }

    &__right {
      left: 0;
      top: 0;
    }

    &__ellipse { margin: 45px 0; }

    &__small-ellipse { margin-left: 10px; }
  }
}
