.title {
  position: relative;
  padding: 70px 0;
  color: $primary-color;
  font: 20px $fourth-seniority-font;
  text-align: center;

  &::after {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    content: url("../img/black-line.png");
  }
}
