$primary-color:              #3e3d3d;
$secondary-color:            #e3e3e3;
$tertiary-color:             #fff;

$primary-font:               "CrimsonText-Italic", "Helvetica", sans-serif;
$secondary-font:             "CrimsonText-Roman", "Helvetica", sans-serif;
$tertiary-font:              "Montserrat-SemiBold", "Helvetica", sans-serif;
$fourth-seniority-font:      "Amsdam-Regular", "Helvetica", sans-serif;
$fifth-seniority-font:       "Montserrat-Bold", "Helvetica", sans-serif;

$primary-font-size:          14px;
$secondary-font-size:        16px;
$tertiary-font-size:         13px;
$fourth-seniority-font-size: 12px;