$primary-color:                #fff;
$primary-home-page-color:      #74c7d5;
$primary-service-page-color:   #b24a50;
$secondary-service-page-color: #df5c64;
$primary-about-page-color:     #665464;
$secondary-about-page-color:   #91778e;
$primary-work-page-color:      #81a256;
$secondary-work-page-color:    #a1ca6c;
$primary-contact-page-color:   #75b4aa;
$secondary-contact-page-color: #68a097;

$primary-font:                 "Lato-Regular", "Helvetica", sans-serif;
$secondary-font:               "Lato-Bold", "Helvetica", sans-serif;
$tertiary-font:                "Lato-Light", "Helvetica", sans-serif;
$fourth-seniority-font:        "Lato-Black", "Helvetica", sans-serif;

$primary-font-size:            20px;
$secondary-font-size:          16px;
$tertiary-font-size:           25px;
$fourth-seniority-font-size:   30px;